apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: finconecta
spec:
  selector:
    app: frontend
  ports:
  - port: 3000
    targetPort: 3000
    name: http
  type: ClusterIP